[2012-02-02 17:26] nimbupani opened #1 "Request: Show fewer browsers"
We are showing a lot of browsers that support certain features. However, most users are on a particular browser, and if a latest version of that browser supports the requested feature, only return that value. If there is no support for that feature among any version of the browser, return the list of other browsers that support that feature.

[2012-02-02 17:29] jonathantneal commented on #1
I think this will be addressed with an option to either show things "display" based, meaning display that feature's supported browsers (like caniuse current works), or "detect" based, meaning we detect/sniff their browser and report if it can use that feature.

[2012-02-02 17:31] nimbupani commented on #1
oo sounds good!

[2012-02-03 08:03] jonathantneal commented on #1
Compare the results.

#### Something for everyone.

http://sandbox.thewikies.com/caniuse/canvas+json.html
- IE6 and IE7 will be prompted "Almost there! Please update your browser to support the requested features."
- Other browsers will be prompted "Congratulations! Your browser supports the requested features."

---

http://sandbox.thewikies.com/caniuse/apng.html
- Firefox and Opera will be promp

[2012-02-03 15:17] nimbupani commented on #1
Does the 'update your browser' come with a link? Also the 'other browsers'  in 'Oh no! Please use another browser…' could link to http://browsehappy.com

[2012-02-04 18:54] jonathantneal commented on #1
When there is an update for the client browser, then yes, the update page includes a link to that browser's landing page so they can grab the latest version.

When there is only the option of another browser, the other browsers which also include links to their landing pages.  I would be happy to setup a link to browsehappy, but I'm not sure if it's needed as long as we're both forwarding users to

[2012-02-06 21:11] paulirish opened #2 "test pages"
i think its time to make some test pages. using the JSON and mashing it against handlebars

or the HTML and tossing it into a jquery ui dialog

whatever we expect people to do with this service

that way we'll have demos to show and make sure our JSON data is ideal

Lets find a few HTML5 demos, apps that we can envision things for: http://www.dropmocks.com/ and chrome.angrybirds.com and .. mothere

[2012-02-07 00:28] addyosmani commented on #2
Working on two tests using the JSON data atm. Is it cool for us to PR with http://sandbox.thewikies.com/caniuse/ as the data source until we get a proper host or should we just hold off until we do?

[2012-02-07 01:32] paulirish commented on #2
totes cool.

[2012-02-07 09:30] addyosmani commented on #2
Sahweet

[2012-02-07 17:13] paulirish opened #3 "API"
API details:
http://sandbox.thewikies.com/caniuse/
conversation and details here: https://etherpad.mozilla.org/supportedbrowsersapi

We are not finalized on what the JSON payload is.

We'd love to see some folks test our the API and apply to test pages. see #2

[2012-02-07 17:14] paulirish opened #4 "Discussion"
The history of this project is kind of displayed over here: https://github.com/paulirish/lazyweb-requests/issues/39

If you have any general feedback or discussion, chime in here or file a new ticket.

[2012-02-07 17:16] paulirish opened #5 "Hosting plans"
We're working with alexis behind caniuse to host this at api.caniuse.com but we've also discussed api.html5please.com and others.

If you have the resources to host an webservice like this chime in.

[2012-02-07 17:56] jonathantneal commented on #5
Alexis supports our cause, and if space/bandwidth/memory is an issue, I hope he would give us his blessing to host it @ html5please.

[2012-02-07 18:05] addyosmani commented on #5
Is html5please currently being run off dreamhost?

(also, I know there aren't solid figures about this yet, but do we have any rough ideas about the expected usage?).

Given that unlike most previous projects this will actually have people constantly calling the service (for which we should try to use caching where possible) I'm wondering if it's worth trying to get something dedicated in place fo

[2012-02-08 00:24] AaronLayton commented on #4
Although there will be an API setup which will be great, will there also be a drop in feature something similar to this

http://jsfiddle.net/AaronLayton/fbths/
It's only a quick mock to get the idea, the code of course would be changed and built upon

I think it would be nice to just come up with a standard button, but not sure if this is a direction you want to take this in or if you just want to

[2012-02-08 00:51] paulirish commented on #4
awesome mock! cc @jonathantneal

well you'd be able to do that, but it'd be funky to optimize.. it's more
likely you're going to get a few browsers returned to you that match your
featureset

so whatever this design is, it should scale from supporting 1-4 browsers as
opposed to one

dig?

[2012-02-08 00:52] nimbupani commented on #4
The idea is to _not_ perpetuate monocultures with preferred browser listing. What the api would return is a set of options for users to choose from if there is no version of current browser to choose from.

[2012-02-08 01:08] jonathantneal commented on #4
@AaronLayton, that looks great. Help me understand what you're asking for. Are you asking for a url that would generate the HTML/CSS for a button, perhaps even written within a document.write callback?

[2012-02-08 01:16] AaronLayton commented on #4
@paulirish yeah it would be a task just get it to look right on every website but the general idea I thought was if I request a result from the json api and get returned a list of supporting browsers then I could list them in the hover state aswell.

The hover state would show what the developer had specified they need support for and list the supporting browsers under that. If the developer has g

[2012-02-08 01:21] AaronLayton commented on #4
@jonathantneal My initial idea was to use the API to extend the idea with a service like in the mock. Something that a developer could just include on their page and the button be created for them. My example is really crude, only the design was of significance but something that could become the defacto solution for this kind of thing.

[2012-02-08 01:22] jonathantneal commented on #4
@AaronLayton now that I understand what you want, I think it could be added in quite easily, with some default styles, but still customizable.

[2012-02-08 01:23] paulirish commented on #4
Yeah i think the idea of a preferred browser is what we're trying to avoid
here.
The benefit for the developer is "i know the features. i dont want to track
which browsers support this."
See also: firefox removing support for websockets, etc.

That said I'd love to see a design thats as beautiful as this that scales
to show the full browser array that the API would return.

[2012-02-08 01:28] AaronLayton commented on #4
@paulirish @jonathantneal I see what you mean. I will create a new mock and remove the preferred browser and show the supported browsers ;-)

[2012-02-08 03:06] AaronLayton commented on #4
OK it's late here now so I am stopping and getting some sleep.

I have taken away the javascript from this mockup as it was meant to be more of a visual example. Let me know what you think
http://jsfiddle.net/AaronLayton/gFH3k/

[2012-02-09 04:46] jonathantneal commented on #4
@AaronLayton, check it out, thoughts?

 [http://sandbox.thewikies.com/caniuse/canvas+json.html](http://sandbox.thewikies.com/caniuse/canvas+json.html)
 [http://sandbox.thewikies.com/caniuse/apng.html](http://sandbox.thewikies.com/caniuse/apng.html)

[2012-02-09 12:29] AaronLayton commented on #5
@addyosmani It's going to be hard to guest'imate (is that a word?) the expected usage but we should definitely cache the hell out of it.

Not sure if it would need a dedicated solution as each combination of the request can be cached and the payload sent back will be really small?

[2012-02-09 12:42] AaronLayton commented on #3
I noticed in the Alternatives that it doesn't show the current browser your on? This is OK if your on something that auto updates (Chrome), but what would happen if the user is on IE6/7/8 ? Would IE show up as an alternative?

Would there also be support for showing experimental versions of the browsers?

Maybe have the version number that is recommended as well?
"alternatives":{
    "ie":{

[2012-02-09 16:23] jonathantneal commented on #4
Links updated.

[2012-02-09 16:25] jonathantneal commented on #5
The latest release caches specific results processed from the data.json file to native php arrays in an effort to offload as much of the processing as possible.

[2012-02-09 21:31] AaronLayton commented on #4
@jonathantneal That looks great :-D It works really well. I have just been testing it locally with lots of different test cases and I can see quite a few issues with the CSS but I am working through them now and will try and do a pull request for you

[2012-02-09 21:34] AaronLayton commented on #5
Great :-) the button page up to yet (which I expect will be the biggest?) is about 13.77kb on initial load.

If we can set the cache headers for all returned files then that will ensure repeated request from the same person don't incur additional bandwidth. I will open as an issue?

[2012-02-09 21:36] AaronLayton opened #6 "Clientside Caching"
Need to set correct response headers so that content is cached client side. This will ensure repeated requests to the html button wont incur more bandwidth.

Caching could also be turned on for the json / xml output aswell as the data wont be updated often

[2012-02-09 21:38] jonathantneal commented on #4
Thanks @AaronLayton - it is your design! :)

Keep in mind, I would like to keep the CSS as simplified as possible to reduce the payload.

[2012-02-09 21:39] jonathantneal commented on #6
We will need someone experienced with this in PHP.  I am NOT an expert. ... YET!

[2012-02-09 21:57] AaronLayton commented on #4
No problem @jonathantneal All I have done upto yet is move some of the styles from '.caniuse-nfo' and put it into the hover state.

Because we was changing 'display:none' to 'display:block' on hover it overridden the transition. I have removed display none, set height to 0 with overflow hidden for normal state and then when hovered it will change the height auto and overflow auto.

[2012-02-09 22:31] AaronLayton commented on #6
Thanks H5BP ;-)

Something like this added to .htaccess
If everything is cached for a day then that would cover most use cases. Anyone that returns on a second day should then get new data.

[code]

[2012-02-09 22:35] jonathantneal commented on #6
because i'm naive, should it be "access plus 1 day" where you wrote "access plus 1 dayr"?  I'm presuming that's a typo.

[2012-02-11 21:23] AaronLayton commented on #6
Code now added to .htaccess so closing this issue

[2012-02-11 21:23] #6 closed, assigned to nobody

[2012-02-14 03:15] paulirish opened #8 "SSL support"
there's that.

punting this issue for as long as possible. :)

[2012-02-14 05:14] paulirish opened #9 "docs page feedback"
- can we use `<dt><dd>` combo for the API details?
- let's group options by HTML and JSON output. clarify that callback if your homeboy
- styling? should we style with caniuse's general flavor?
- add some **In the Wild** examples (which we don't have yet)
- btw i added a bunch of text to explain wtf this is. also some `:target:` styling

[2012-02-14 06:49] jonathantneal commented on #8
Ditto.  I want http and https love for everyone.

[2012-02-14 19:12] AaronLayton commented on #1
I like the way it currently is where we link straight to the browser download page. Linking to another site would just create an extra click the end user would have to do to get their browser updated

[2012-02-14 21:59] nimbupani commented on #9
BTW, I think @Fyrd is maintaining this at https://github.com/fyrd/caniuse/

[2012-02-15 14:58] nimbupani opened #10 "Need autocomplete for features field in UI"
The features field should be autocompleted from a list of features we support.

[2012-02-15 14:59] nimbupani commented on #1
What we have matches what I had in mind. Thanks @jonathantneal !

[2012-02-15 14:59] #1 closed, assigned to nobody

[2012-02-15 15:02] nimbupani opened #11 "Modernizr plugin"
@paulirish can we have this ready and have it advertisable on the main page?

[2012-02-16 19:12] paulirish opened #12 "Pull from live json feed instead of static github version"
http://caniuse.com/jsonp.php I imagine is updated more frequently than when @Fyrd pushes it to his repo.

That true, alexis?

[2012-02-16 22:25] Fyrd commented on #12
Yes, that's right. Updated every time I make a change to the data.

[2012-02-17 06:09] paulirish opened #13 "touch support for HTML output"
reported here https://twitter.com/#!/amberweinberg/status/170388403442032640

Yeah we can't show that on hover for those devices.. hmm

[2012-02-17 08:54] AaronLayton commented on #2
@paulirish Ok to put on some jsfiddles I did? or are you looking more at full website like the ones you listed above?

[2012-02-17 09:29] paulirish commented on #2
fiddles are great yes!

btw the script is now in use at http://mothereffinganimatedgif.com/ .. see Safari or mobile safari for it in action.

[2012-02-20 04:21] nimbupani opened #14 "Tweak html output"
"upgrade" is a bit strong especially for unstable features. We should say "use".

All information about browsers should be presented without hover, because this is essential info that shouldn't be hidden.

[2012-02-20 04:22] nimbupani opened #15 "Design to dos"
- <del>Adjust space when there are no options (e.g. XML format)</del>
- <del>Autocomplete drop-down is fugly. Needs fixing.</del>
- <del>Builders section needs more tweaks.</del>
- Test it in all mobile devices.
- <del>Show the 'more info'</del>
- <del>Move html to be first option in format</del>
- <del>Make text&icon option to be default as button option. </del>

[2012-02-20 07:21] jonathantneal commented on #14
I agree. I'd like to adjust the language to be less strong as well.

[2012-02-20 21:39] nimbupani opened #16 "Do we need a congratulations message?"
I think ideally the html should show nothing if the browser supports the features required. The intent is to get out of the way of users when not necessary. The prompt and html should only render if the features are not supported.

[2012-02-21 00:56] nimbupani opened #17 "Should only recommend desktop browsers for desktop requests"
Currently it recommends all browsers mobile/desktop if request comes from Desktop agents. We should only recommend desktop browsers.

Likewise with mobile UAs.

[2012-02-21 01:20] nimbupani opened #18 "Should show link to latest browser version that supports a feature"
E.g. [cors](http://sandbox.thewikies.com/caniuse/cors.html?) in Opera Stable tells me to download other browsers, but Opera Next supports Cors, ideally it should ask users to download that.

[2012-02-21 06:35] paulirish commented on #17
:+1:

[2012-02-21 06:37] paulirish commented on #18
But it should show all. e.g. If Chrome stable doesnt have it, Beta does... and so does Firefox stable... I'd much rather open Firefox than replace my Chrome stable install with a non-sidebyside beta.

[2012-02-21 06:39] paulirish commented on #16
Yeah empty string payload if current browser passes. good call.

[2012-02-21 06:44] paulirish commented on #13
Jon worked on this.

www.mothereffinganimatedgif.com doesnt work in iOS emulator but the trick works in my real Opera Mobile. so i think we're good.

[2012-02-21 06:45] paulirish commented on #17
Mobile I can see a case where recommending desktop makes sense. I can't view the site on my phone, but I should be able to use my desktop with its recommendation.

[2012-02-21 06:45] paulirish commented on #11
Yup we will

[2012-02-21 06:46] paulirish commented on #4
closing this ticket as we have others to carry the discussion

[2012-02-21 06:46] #4 closed, assigned to nobody

[2012-02-21 06:46] #3 closed, assigned to nobody

[2012-02-21 06:47] paulirish commented on #2
I'd like to launch with a real demo of this available on a few more sites. I can put it on the other mothereffing's but that seems overkill. other suggestions?

[2012-02-21 10:08] addyosmani commented on #2
@paulirish It likely already has a solution in place, but what about html5rocks? Seems like a relatively high-profile site that could demonstrate this in action and it does afaik use feature detection and notify if something is supported or not.

Also, maybe it would make sense for us to find some decent demos relying on HTML5/modern features and see if we can get them to include this.

[2012-02-21 15:46] nimbupani opened #19 "Icon Sprite needs to be CDNed"
Right now it is pointing to @jonathantneal 's domain, but ideally we should put it on a CDN.

[2012-02-21 15:46] #13 closed, assigned to nobody

[2012-02-21 15:47] nimbupani commented on #14
Example: http://h5bp.github.com/caniuse/test.html

[2012-02-21 15:48] nimbupani commented on #10
Added with jQuery UI autocomplete.

[2012-02-21 15:48] #10 closed, assigned to nobody

[2012-02-21 15:50] nimbupani commented on #17
Agreed but only if none of the mobile browsers are capable of rendering it, the messaging should be tweaked to ask users to view on a desktop-ish device.

[2012-02-21 15:54] nimbupani commented on #18
Yeah sgtm.

[2012-02-21 16:40] paulirish commented on #17
If you're on iOS it doesn't help you to tell you that Opera Mobile can show
it. :)

Now if we actually want to deal with facts like this, then that's another
story..

[2012-02-21 17:09] nimbupani commented on #17
Yeah good point. I guess then when on mobile we show mobile browsers + desktop.

[2012-02-22 10:25] addyosmani commented on #16
Agreed.

When I was putting together demos using what we have now I didn't see a need to display a congrats message either. As @nimbupani says, let's stay out of users ways where possible :)

[2012-02-23 03:05] nimbupani commented on #14
Done in 4e9a979237e277b0a71a5ad2f8d0cb85f5c6caca

[2012-02-23 03:05] #14 closed, assigned to nobody

[2012-02-23 03:05] nimbupani commented on #16
Fixed. 4e9a979237e277b0a71a5ad2f8d0cb85f5c6caca

[2012-02-23 03:05] #16 closed, assigned to nobody

[2012-02-23 10:16] addyosmani commented on #16
\o/

[2012-02-23 16:38] #9 closed, assigned to nobody

[2012-02-23 17:26] nimbupani commented on #17
cc: @beverloo

[2012-02-23 17:26] nimbupani commented on #18
cc: @beverloo

[2012-02-23 17:30] nimbupani commented on #11
https://etherpad.mozilla.org/supportedbrowsersapi

[2012-02-23 20:15] nimbupani commented on #18
Okay after talking with @jonathantneal sounds like this is wayy too complicated and unnecessary. Tabling this for now, not essential for launch.

[2012-02-23 20:34] AaronLayton commented on #2
@paulirish @addyosmani Maybe we should look around on chromeexperiments and see if any of the developers on there would be willing to add it to their experiments? Or even check out the DemoStudio over at Mozilla?

[2012-02-23 20:35] AaronLayton commented on #19
Do we know anyone with a CDN? or is there one you guys normally use?

[2012-02-23 20:35] addyosmani commented on #2
@AaronLayton I think that's a great idea. Definitely worth exploring at least!

[2012-02-23 21:05] AaronLayton commented on #15
@nimbupani what mobile devices does it need testing on? I have Android and iOS at hand or are you thinking more device specific not OS specific?

[2012-02-23 21:08] AaronLayton commented on #2
You want me to fire out some emails and see if I can entice any of them to add it?

[2012-02-23 21:11] addyosmani commented on #2
@AaronLayton If you could that would be awesome.

[2012-02-23 21:12] nimbupani commented on #15
Essentially Opera Mobile/Mini/Firefox Mobile/Chrome for Android/Android/Mobile Safari of dominant versions would do.

[2012-02-24 00:18] paulirish opened #20 "Expose features required subtly"
Agreed most users dont need to see them, but it can be frustrating that its not accessible at all.

proposal: http://paulirish.com/i/108a30.png

This would help to deal with the "what about safari/opera?" questions that we saw here: http://news.ycombinator.com/item?id=3602160

[2012-02-24 00:26] paulirish commented on #17
Another one..

If i'm on Firefox 3.6, it needs to tell me to upgrade to.. er.. "use" Firefox 10. Just the icon makes me as a user go WTF.

[2012-02-24 00:27] paulirish commented on #19
relatedly, the image url should be referenced in the JSON payload.

[2012-02-24 00:28] paulirish opened #21 "docs: clarify how we recommend browsers"
we put a lot of logic into how we recommend browsers
- no IE recommendation if you're on mobile or mac/linux
- no mobile browsers if you're on desktop
- it's conditional on what your current browser is (somehow..)

I think these are all very useful. we should document them on the homepage so people understand the value of the service

[2012-02-24 00:31] nimbupani commented on #20
sgtm. All that is required is to tweak the features placeholder to output in title attr.

[2012-02-24 01:00] nimbupani commented on #19
Already CDNed: https://github.com/h5bp/caniuse/blob/01a5c25d61f6e23aa4493828c6b7be3e9ff0fad9/css/icon.css#L15

[2012-02-24 01:01] paulirish commented on #11
Complete: https://gist.github.com/1896401

[2012-02-24 01:11] paulirish commented on #20
groovy. i'll do it

[2012-02-24 04:47] nimbupani commented on #19
How should it be referenced? It is already in the css inlined as a value for `html` key.

[2012-02-24 05:00] nimbupani commented on #11
Currently referenced from main page to this gist? should it go elsewhere? Should be included in modernizr builder?

[2012-02-24 18:48] paulirish commented on #19
I think in the agents object there should be icon properties so if i'm using templating against the JSON i can make use of the imagery.

[2012-02-24 23:28] paulirish opened #22 "add example of usage."
like

[code]

add after builder section.

[2012-02-25 01:56] paulirish opened #23 "features focus/blur bug with url builder"
bug from @benschwarz :
- click into features
- type `can`
- click canvas
- autocomplete guy goes away

It should reset to open and all things available until you blur out of the input.

[2012-02-25 01:58] paulirish opened #24 "show real output (of builder) next to the docs for output"
via @benschwarz

[2012-02-25 07:50] addyosmani commented on #23
+1. I was about to report the same issue. Glad someone got to it before me :)

[2012-02-25 07:55] addyosmani opened #26 "Missing: Read More content"
(it's late so sorry if I've missed something in the index)

It appears that the content for Read More hasn't been fleshed out yet. Testing Chrome/Canary nothing happens when I click on 'read more' at the moment.

I'm assuming it's yet to be done, but figured an open issue might remind everyone :)

[2012-02-25 08:00] addyosmani commented on #11
@nimbupani it's currently in the index below 'use'  http://addyosmani.com/gyazo/77cd99.png. I would personally make it a little more visible because I can see quite a few people wanting to opt for the Modernizr plugin version. If you guys decide it needs its own section, I don't mind helping with some dialog around it, unless Paul would like to do that :)

[2012-02-25 09:57] addyosmani commented on #24
Did some work on this (assumed you meant a live preview of the current query and not just an example of output) :)

Preview: ![Screenshot](http://addyosmani.com/gyazo/cc578.png)

Did we want syntax highlighting in there? (sure @nimbupani could improve how this looks)

Also @jonathantneal, I was hoping the HTML output could be previewed too but unless I'm mistaken http://sandbox.thewikies.com/caniu

[2012-02-25 10:39] drublic commented on #15
At the moment on mobile the desktop version of the page is displayed, as you can see here:

![iOS Safari screenshot](http://dl.dropbox.com/u/8455906/h5bp-caniuse-ios-safari.png)

I think devs mostly visit this page with a desktop computer. Anyway a mobile version would ne nice. Plans?

**Edit:** Figured it. Viewport-meta is missing.

[2012-02-25 13:37] drublic commented on #21
I tried to write something for this. Maybe it helps:

<hr>

## How do we recommend browsers?

As we display browsers we recommend to use for a certain feature the API needs to detect the current user-setup. We do not just recommend every capable browser with a valuable marked share but we try to provide a recommendation for the current site's needs.

As explained above the API detects the user-set

[2012-02-25 14:20] drublic opened #28 "URL Builder: filter current values from selector"
The URL Builder currently displays values in the picker that are already chosen.

We could remove them from the `keywords`-array and re-add them when they are deleted… or something.

[2012-02-25 14:28] drublic commented on #23
This can be fixed with the snipped below in `script.js` - line 58 before `return false;`

[code]

I don't like this idea as it's ugly…
Also: A flash in which the picker is not displayed remains.

[2012-02-25 17:40] simurai opened #29 "Designer Proof"
I'm not really sure how to use the HTML version since it's just a link. But @nimbupani said that information is still missing. Anyways.. maybe that's the plan or maybe it's too late, but would it be a good idea to make it like how [Twitter buttons](https://twitter.com/about/resources/buttons#tweet) are used? Basically a wizard with a couple options that spits out a code snippet for people to paste

[2012-02-25 19:19] addyosmani commented on #29
@simurai I was thinking the exact same thing this afternoon. I believe Paul/Divya were aiming for a soft launch for the project on Monday/next week, but a basic wizard wouldn't be too difficult to bake into what's being done at the moment. Maybe something to be added later?

@nimbupani what do you think?

[2012-02-25 19:37] simurai commented on #29
Or is there a good way to use the JSON version without jQuery? For simple CSS demos it seems a bit overkill to add jQuery just for that.

I tried it [like this](http://jsfiddle.net/simurai/vYutL/), which is pretty simple and seems to work fine.. but I believe `innerHTML` is risky because somebody could inject other scripts?

[2012-02-25 19:54] addyosmani commented on #29
You don't have to use jQuery for it at all (as your test case demonstrated). If `innerHTML` in a concern, there's always `textContent`. See: https://developer.mozilla.org/en/DOM/element.innerHTML and then https://developer.mozilla.org/En/DOM/Node.textContent (limited to >IE9)

[2012-02-25 20:19] sindresorhus commented on #29
@addyosmani That wouldn't work since <IE9 doesn't support textContent.
You could use innerText, but Firefox doesn't support that.
Something like this would work though:

[code]

[2012-02-25 20:50] addyosmani commented on #29
@sindresorhus indeed! As you correctly point out some additional special casing would be needed to get this working.

[2012-02-25 20:57] simurai commented on #29
Hmm... but with `textContent` or `innerText`, the output is just the HTML string: http://jsfiddle.net/simurai/vYutL/2/

I don't mind using `innerHTML` but I'm just not sure if it could be harmful in this case with the callback? I think jQuery's `html()` uses it too, but only if it thinks it's save.

If `innerHTML` is not save, the only other option would be DOM Scripting, right? But that's lots mo

[2012-02-25 21:34] #28 closed, assigned to nobody

[2012-02-25 21:35] #23 closed, assigned to nobody

[2012-02-25 21:35] sindresorhus commented on #29
@simurai You're right. I only read Addy's comment.

If you're afraid of script injection your could just strip it before adding it to your element.

Wrote this now, only tested in Chrome, but should work everywhere:

[code]

[2012-02-25 21:35] nimbupani commented on #20
Fixed by ad24366c4fd65c0de74807a0144908ed8cc16390

[2012-02-25 21:35] #20 closed, assigned to nobody

[2012-02-25 21:36] nimbupani commented on #17
Fixed by fadf4eb37b718921c4ddf98f8b55563712bad870

[2012-02-25 21:36] #17 closed, assigned to jonathantneal

[2012-02-25 21:49] addyosmani commented on #29
If there did end up being a builder for the snippet, having script stripping as an option to include/exclude could be useful. The question would be whether or not stripping was included as a sane default :)

[2012-02-25 22:57] addyosmani commented on #24
Updated again (noticed @nimbupani made some UI changes):

Screenshot: ![Screenshot](http://addyosmani.com/gyazo/e36a9c.png)

PR: https://github.com/h5bp/caniuse/pull/33

[2012-02-25 23:27] nimbupani opened #34 "Server-side Caching"
Was talking to @addyosmani that we would need some sort of server-side caching. A simple hash of the requested UA & request options might be sufficient?

Anyone knows enough PHP to pick this up :)

[2012-02-26 15:15] nimbupani commented on #21
On second thoughts, I think it would be useful to publish this on the home page but throw everything else into the wiki. [Current text for this section](https://github.com/h5bp/caniuse/wiki/How-does-the-UA-Detection-work%3F)

[2012-02-26 17:10] nimbupani commented on #21
Done in df498d817fa707cf7f306b7be9d66025770b21a5

[2012-02-26 17:10] #21 closed, assigned to paulirish

[2012-02-26 17:11] #15 closed, assigned to nobody

[2012-02-26 17:12] nimbupani commented on #11
@paulirish @addyosmani could you look into the widget snippet and let me know why its not working? If you would commit a fix that would be great too.

[2012-02-26 18:38] simurai commented on #29
Alright.. with the latest changes on http://h5bp.github.com/caniuse/ I think it's enough "Designer Proof". \o/ @sindresorhus Thanks for the stripScripts.

If you're interested.. I played around and tried to customize it a bit more:
1. In this example http://lab.simurai.com/flashlight/ (test in Opera), it degrades gracefully and the hover effect is still cool in Opera, so the CanIUse is just added

[2012-02-26 18:54] #29 closed, assigned to nobody

[2012-02-27 00:20] #18 closed, assigned to jonathantneal

[2012-02-27 00:42] #24 closed, assigned to nobody

[2012-02-27 00:43] #2 closed, assigned to nobody

[2012-02-27 00:53] nimbupani commented on #22
The widget takes care of this?

[2012-02-27 01:21] addyosmani commented on #26
Divya's taken care of this. Closing.

[2012-02-27 01:21] #26 closed, assigned to nobody

[2012-02-27 01:26] addyosmani commented on #11
@nimbupani just confirming: widget snippet still broken? I took a look at Modernizr + the plugin snippet + necessary markup earlier and it didn't seem to be working (tested Opera/Chome). If it's still borked I can take another look and figure out what's wrong.

[2012-02-27 01:27] nimbupani commented on #11
I think @paulirish is working on it at this moment.

[2012-02-27 01:44] addyosmani commented on #11
Thats cool. If you guys need any further help with it, feel free to let me know :) I was going to do some more work on demos and I think there's an open issue for more documentation. Is anyone working on that?

[2012-02-27 02:06] nimbupani commented on #11
Addy, nobody is as far as I know. I would love to have some. Simurai has already included some of it in his projects I notice: http://lab.simurai.com/flashlight/ and http://lab.simurai.com/carveme/

[2012-02-27 02:13] addyosmani commented on #11
Sahweet. Thanks. I'll ping you guys as soon as I have something useful ready.

[2012-02-27 02:31] paulirish commented on #11
modernizr plugin done. it's in the repo, too.

[2012-02-27 02:31] #11 closed, assigned to paulirish

[2012-02-27 15:45] drublic opened #43 "Add Google-Analytics for usertracking"
You use this for HTML5 Please, so I guess it's something for this project, too.

[2012-02-27 15:46] addyosmani commented on #5
Speaking of caching, @nimbupani opened up a ticket to discuss server-side caching further in #34. I think it would be useful to get some input (particularly from @jonathantneal) on what preferences you had for how this should be approached. Native php arrays will only take us so far :)

[2012-02-27 15:48] nimbupani commented on #43
Good point @paulirish ?

[2012-02-27 15:58] nimbupani commented on #43
Added it seems like.

[2012-02-27 15:58] #43 closed, assigned to nobody

[2012-02-27 16:45] zachleat opened #44 "The Windows XP problem"
Should the API even show Internet Explorer as an option to visitors that are using Windows XP with features that require IE9+?

[2012-02-27 17:12] nimbupani commented on #44
I suppose we could do that, also for Firefox 3.6 on Mac users who use Tiger or below? I am not sure where to draw the line tho :/

[2012-02-27 17:16] miketaylr opened #45 "Current Version of Opera Mobile is wrong"
https://github.com/h5bp/html5please-api/blob/master/agents.json#L64

12 released today.

[2012-02-27 17:17] miketaylr opened #46 "Current version of Opera Mini is wrong"
https://github.com/h5bp/html5please-api/blob/master/agents.json#L56

7.0 was released (on some platforms) today.

[2012-02-27 17:22] nimbupani commented on #46
Fixed at 750ff1ef1a36328333226204b1bc196786dd1d0c

[2012-02-27 17:22] robrbecker opened #47 "Add an option to install Chrome Frame for oldIE"
Could you make an option to the html5please call to offer Chrome Frame as an option?
For people who are working on bringing HTML5 to "internal" or "enterprise" apps, read IE678, they know their target audience and they know that they most likely do not have admin rights.  This leaves Chrome Frame as the only option.

[2012-02-27 17:23] nimbupani commented on #45
Fixed @ 750ff1ef1a36328333226204b1bc196786dd1d0c

[2012-02-27 17:23] #45 closed, assigned to nobody

[2012-02-27 17:27] nimbupani commented on #46
Fixed here 63b119ec6db5ebd3fec6e02692aeb80b1c771026

[2012-02-27 17:27] #46 closed, assigned to nobody

[2012-02-27 17:32] addyosmani commented on #44
Perhaps we should take a second look at the support/recommendation matrix we're assuming and flesh that out a little.

For IE/XP, I agree that it doesn't really make sense to show IE9+ if it requires a complete OS-upgrade, or perhaps we do show it but add a note/icon related to the OS needed.

I guess this also relates back to whether or not we should consider #47 (Chrome Frame) for oldIE (which i

[2012-02-27 17:35] jonathantneal commented on #44
There is no realistic chance Windows XP users will ever see IE9 because Microsoft made a deliberate decision to use Direct2D APIs which are not available in that legacy operating system.

Microsoft Windows XP Internet Explorer users are in a unique position that requires a financial commitment on their part to update their web browser.

I'm unsure if it would be bias of us to tell IE users to swit

[2012-02-27 17:38] addyosmani commented on #44
I would say it would be in their best interests to suggest the shortest path to success, but..others may disagree :)

[2012-02-27 17:42] miketaylr opened #48 "Current version for Opera desktop wrong"
https://github.com/h5bp/html5please-api/blob/master/agents.json#L40

11.60 was replaced by 11.61... and 11.62 will be coming out sometime in the near future... updating files is fun!

[2012-02-27 21:04] Andypro1 opened #49 "supported: unknown returned for canvas+webgl"
Accessing the URI http://api.html5please.com/canvas+webgl.json?callback=h5please&texticon&html&readable

returns {"supported":"unknown","html":""}

I tried the Modernizr version and it prints a log entry that indicates that it doesn't understand the feature "canvas+webgl."

[2012-02-27 21:29] dmolsen commented on #34
i'm taking a shot at this. is the [API doc](https://github.com/h5bp/html5please-api/wiki/API-Reference) up-to-date? i've noticed a discrepancy between it and the `filter_options` function. this sounds like a pretty straightforward feature.

[2012-02-27 22:24] addyosmani commented on #49
Confirmed.

http://api.html5please.com/webgl.json?callback=h5pCaniuse&texticon&2&html&readable
http://api.html5please.com/audio+webgl.json?callback=h5please&texticon&html&readable
http://api.html5please.com/video+webgl.json?callback=h5please&texticon&html&readable

etc. all return the same response. Just so we're thorough, regular queries like:

http://api.html5please.com/video.json?callback=h5ple

[2012-02-27 22:44] nimbupani commented on #34
Likely there is a discrepancy, I noted them down in haste in the wiki :) Please be updating if you find more options. I would love to have caching up and running!

[2012-02-27 23:30] #22 closed, assigned to paulirish

[2012-02-27 23:59] nimbupani commented on #49
This is because there is no universal webgl at the moment. http://caniuse.com/webgl Everything is dependent on the drivers you have in your machine. This is why it does not answer for webGL. You can use the unknown string to provide any other messaging you require.

[2012-02-27 23:59] #49 closed, assigned to nobody

[2012-02-28 00:06] addyosmani commented on #49
Thanks for clearing that up @nimbupani! It of course makes sound sense in hindsight :)

[2012-02-28 00:17] zachleat commented on #47
My opinion is that this should be opt-in, not default.

[2012-02-28 00:35] robrbecker commented on #47
I agree!

On Mon, Feb 27, 2012 at 5:17 PM, Zach Leatherman <
reply@reply.github.com

##

-- Rob

[2012-02-28 01:12] Andypro1 commented on #49
@nimbupani - thanks for the explanation.  It seems that returning unknown for the browsers that partially support it makes sense, but shouldn't it still return a solid "no" for browsers like IE9 that definitely do not support it?

[2012-02-28 01:13] nimbupani commented on #49
Yeah definitely, but right now we do not have such a granular view of the data. cc: @jonathantneal

[2012-02-28 03:50] zachleat commented on #44
+1 for shortest path.

[2012-02-28 07:33] zcorpan opened #50 "Sniffers for op_mob and op_mini are swapped"
See agents.json

[2012-02-28 07:35] zcorpan opened #51 "script async is invalid without src"
"Here is your widget" uses the async attribute on script without src.

"The defer and async attributes must not be specified if the src attribute is not present." says the spec. (It has no effect on inline scripts.)

[2012-02-28 07:45] zcorpan opened #52 "On setting src on a script element"
The "Here is your widget" boilerplate that uses Modernizr has this:

var ref = document.getElementsByTagName('script')[0]; var url = 'http://api.html5please.com/' + features.join('+') + '.json?callback=Modernizr.html5please.cb' + opts.options ? ('&' + opts.options) : ''; script.src = url; ref.parentNode.insertBefore(script, ref); return false; };

Does this even work? Scripts are generally marked

[2012-02-28 07:52] zcorpan opened #53 "Callback "html" is invalid"
"html": "&shy;<style>....... <\/style><div class=\"caniuse\">...."

This is invalid HTML. Why the &shy;? Since the next thing is a block box, it doesn't do anything anyway.

It should be more like:

"html": "<div class=\"caniuse\"><style scoped>....... <\/style>...."

[2012-02-28 07:58] zcorpan commented on #53
http://krijnhoetmer.nl/irc-logs/whatwg/20120228#l-394

[2012-02-28 14:15] dmolsen commented on #34
I [worked on this last night](https://github.com/dmolsen/html5please-api/commits/master) but I realized I made it too simple & it's only a file system cache. It doesn't take into account that your output will change based on new browsers. I'll continue to work on it.

At the end of the day I'm not really sure it's going to improve all that much. It seems like a better option would be to store data

[2012-02-28 14:55] #50 closed, assigned to nobody

[2012-02-28 14:59] nimbupani commented on #48
Fixed in 750ff1ef1a36328333226204b1bc196786dd1d0c!

[2012-02-28 14:59] #48 closed, assigned to nobody

[2012-02-28 15:01] #51 closed, assigned to nobody

[2012-02-28 15:03] nimbupani commented on #34
I think that is a great idea. But we need to be careful here as UAs keep updating their versions so our local data might be out of date etc so need some thorough checks.

[2012-02-28 21:23] drublic opened #54 "Checkboxes/Radiobuttons in FF/Linux not clickable"
Looks like the buttons are not clickable in Firefox on Linux.
See the discussion [here](https://plus.google.com/113127438179392830442/posts/QukCpMPror4)

[2012-02-29 15:26] #54 closed, assigned to nobody

[2012-03-05 03:22] paulirish commented on #52
Right before the `var ref` is where the new script element is created.. i think you missed that. :)

beautified:

[code]

[2012-03-05 03:22] #52 closed, assigned to paulirish

[2012-03-13 17:36] paullewis opened #58 "Issue with webgl.json"
Calling http://api.html5please.com/video+audio+webgl.json?callback=h5please&texticon as per the instructions results in:

[code]

In fact it seems to be anything involving the webgl support.

[2012-03-13 19:07] drublic commented on #58
Thanks for reporting, Paul!

We treat "partial support" as "no support". This is why there are no browsers which support WebGL according to our API (and also [caniuse-data](http://caniuse.com/#search=webgl)) and this results in the output you described.

We could change this and provide better feedback for a user. Such as "This is not fully supported in any browser but there are some which handle

[2012-03-13 19:08] nimbupani commented on #58
Yeah what you said @drublic. @paullewis I thought http://get.webgl.org covered this space quite well :P but yeah, it is hard to test for support when support is so varied and dependent on drivers installed in addition to OSes and browsers.

[2012-03-13 19:10] paullewis commented on #58
I think being pragmatic about it, that makes sense. In the case of
WebGL browsers do support it, although I take your point that it's not
full API support. But I would personally be happy with your suggestion
as something to present to users.

On 13 Mar 2012, at 19:07, Hans
reply@reply.github.com
wrote:

[2012-03-13 19:22] drublic commented on #12
Hee,

what do you think about a cron job that `curl`s the file from caniuse.com/jsonp.php, writes the new file, commits and pushes automatically. Or maybe better, on each request we check the age of our data.php and if it's older then a day, we replace it with the version hosted at caniuse.com.

Drawbacks?

[2012-03-15 18:37] drublic commented on #58
I've done some adjustments to get this idea working. I've commited these changes into my repo [over here](https://github.com/drublic/html5please-api). Can someone please check if it works correctly.

Two problems I am having with the commits:
- drublic/html5please-api@f4fda71 is a bit dirty and a better preset for `$support_array['partial']` might be `null` or something
- I've created two new "tes

[2012-03-16 07:26] paulirish commented on #58
I think we need a solution here so I'd like to see drublic's fixes for this merged in

[2012-03-16 07:27] paulirish commented on #12
the latter sounds great

[2012-03-16 09:21] nimbupani commented on #58
@jonathantneal could you test @drublic 's commits?

[2012-03-16 17:45] jonathantneal commented on #58
Sure, wrapping my head around the conversation. :)

[2012-03-17 13:33] drublic commented on #12
I've created a new branch for this to not pollute my master-branch with more unmerged commits. You can find it [over here](https://github.com/drublic/html5please-api/tree/caniuse-data).

I am requesting the file from `http://caniuse.com/jsonp.php`, remove the parenthesis as it's no callback-function, write the contents into the new file and that's about it.
I've also added a small logger, which wr

[2012-03-18 08:22] jonathantneal commented on #12
I have a cron job running on my wikies server that does this, except it might be putting from the original github repo.

So ... uh ... obviously I'm putting my +1 on this!  Of course it would make sense to have the cron job run not off my sandbox site :D

[2012-03-18 19:11] drublic commented on #12
I think including the cron into the script adds a bit more independence to the repo.
On my local machine I have no cron which requests the latest version of caniuse. We could avoid errors for everyone dealing with the repo by including this fix once.

[2012-03-19 20:57] duxtinto opened #59 "Multi-language API"
Hi everybody!!!

The API is great, but as 90% of my users are spanish, it would be perfect if you could set the language of the html response into the request options (I don´t know if this is the right way to do it, or I should create my own html code from the json response).

If you need some help with the translation, just let me know. ok?

Regards,

David.

[2012-03-20 04:36] jonathantneal commented on #59
Absolutely. We should start working towards something with language files.  I'm so pleased we've reached this point!

[2012-03-21 09:42] drublic commented on #58
Any more thoughts and comments on this?

[2012-03-21 22:22] paullewis commented on #58
Well I _was_ thinking it's good to do this because if Modernizr returns a nope on WebGL support for - say - IE9 it'd be better to say "you at least have a shot with one of these browsers" rather than "this isn't the technology you're looking for" and parking the user there.

But I assume the question was really aimed at @jonathantneal since he was testing the commit :)

[2012-03-23 13:08] drublic commented on #58
I ment the PHP review, right.
So if there is no more comment on that, I'll push my changes to the repo and sync the gh-pages branch with the master. The master includes some more bugfixes we've developed a while ago.

[2012-03-23 13:10] nimbupani commented on #58
:+1:

[2012-03-24 13:32] drublic commented on #58
So I've pushed the data. I've not synced the master with the gh-pages-branch. So you can check out my changes and test them. Feedback appreciated.

[2012-03-26 17:17] Integralist opened #60 "API doesn't send through full HTML?"
Seems this API doesn't work as intended, or has changed at some point.

Looking at http://api.html5please.com/ I've entered some HTML5 features to check for (I'm not using Modernizer), if I just enter the provided code into a test page then it doesn't actually display a list of browsers or logos as I was expecting it to.

I checked the `html` property on the object sent to the callback function, a

[2012-03-26 17:22] nimbupani commented on #60
Ah I see. There are indeed issues with the API, it appears. @drublic do you think any of your recent changes affected this? Also, I do not have access to a full-fledged computer to debug this, so hope someone who does can help? cc: @jonathantneal :/

[2012-03-26 17:27] jonathantneal commented on #60
Today is my first day on a Mac.  I will get to it soon.

[2012-03-27 06:56] Integralist commented on #60
Well in this instance I was using canvas and filereader APIs - do you think it might be an issue with certain features only? If so I must have been using the same (or similar) to that muthaeffin site which was used as the example.

##

Mark McDonnell
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Monday, 26 March 2012 at 18:22, Divya Manian wrote:

[2012-03-27 09:56] addyosmani commented on #47
+1 for this being an opt-in.

[2012-03-28 15:37] drublic commented on #60
Ooops, sorry. I did not get a message that I was included in here.

I've not synced my changes form the master with the gh-pages branch yet. So this should not be the problem.
I can reproduce this behavior and will look into it.

[2012-03-28 15:42] drublic commented on #59
Any ideas on how to do this properly?

We could add a GET-flag named "locale" or something and server the data accordingly. But this means we have to have the content translated which seems to be some work to do.
Or we serve the data with templating variables like `{{features}}`.

[2012-03-28 16:04] drublic commented on #60
So… I've looked into this. This seems to be an issue of the mothereffinganimatedgif-app. The link to our API wasn't correct. I've fixed this with [this PR](https://github.com/h5bp/mothereffinganimatedgif/pull/43).

As you've reported that this is an issue for your page, please let us know how you call the API. So, can you please provide the URL you are calling? It has to look something like this:

[2012-03-28 16:25] drublic commented on #58
So, looks like the API-page is already up to date. Maybe @jonathantneal's cron-job does this automatically. I'd suggest to pull the gh-pages-branch rather than the master.

I've synced the gh-pages with the master now. This should fix the issue.

[2012-03-28 16:25] #58 closed, assigned to nobody

[2012-03-28 19:32] duxtinto commented on #59
it means that any string on the response will be a variable, and my
javascript code is in charge of replace them with my own translated
strings. isn't it?

I think is a good idea, because you dont need to worry about translating
strings (now and after any change you'll do to the service in the future)
but it makes the service less friendly to the developer (it's much more
friendly to use the local

[2012-03-28 21:10] drublic commented on #59
David, thanks for your comments!

I don't think we will drop out the default english version. The new param will be part of the request string:
[…]querySelector.json?callback=h5p&texticon&html&readable__&locale__ or **&template**

This could serve a version with templating-variables to use with [Mustache](http://mustache.github.com/) or something. Defining any text would be left to the user. This

[2012-03-28 22:19] duxtinto commented on #59
You are welcome!!

ok. I see.
This solution looks very good to me.

On Wed, Mar 28, 2012 at 11:10 PM, Hans <
reply@reply.github.com

[2012-03-29 20:51] Integralist commented on #60
Oddly this seems to be working now when checking from my iPad. I'll have to check from my computer when I'm at work to make sure the URL matches. But that's for looking into this, I'll be sure to let you know ASAP.

[2012-04-03 08:27] raucao commented on #12
What's the status on this? Unfortunately, the current data is quite outdated at the moment. I wanted to use it for getUserMedia, but all the current browsers are marked as unknown, while updated on caniuse.com.

Should we update manually in the meantime? It's not much work, when you discover something outdated, and I don't think the idea of being so dependent on a single person's data, awesome as

[2012-04-03 08:33] raucao commented on #12
One more thought: wouldn't it be a preferable situation if @Fyrd would pull data _from_ a GitHub repo for caniuse (where we can all send pull requests) instead of only occasionally pushing it _to_ all of us?

Sorry if I'm missing something or there was already a discussion about this. Didn't really follow these 2 projects before.

[2012-04-03 08:45] drublic commented on #12
@skddc I've pushed my changes to a new branch "caniuse-data". Check out this one if you want to use an automatic pull from caniuse.com/jsonp.php.

FWIW the problem with getUserMedia is that caniuse.com/jsonp.php only returns "old" data. I've manually included the latest version of jsonp.php in my local repo. Didn't change anything.
Sorry, but I guess we'll have to wait until @Fyrd updates the file

[2012-04-03 08:53] raucao commented on #12
You see the absurdity of having to wait for someone to update a file, when we're all using GitHub, and it's really just about 3 characters that need to be replaced, don't you?

[2012-04-03 08:58] drublic commented on #12
Please feel free to submit a PR which pulls more recent data from the source you can find.
As we build upon caniuse we are depending on the data provided. Sorry for any troubles.

[2012-04-03 15:08] jonathantneal commented on #12
The most recent source is always the one on his website? I'll make a cronjob to pull from that right now.

[2012-04-03 15:13] drublic commented on #12
@jonathantneal I thought this is the most recent. I've implemented a kinda "pull cron" in the `caniuse-data`-branch. It's not a cron though :)

[2012-04-03 16:41] jonathantneal commented on #12
@drublic , I tried writing a PHP curl script ( source @ https://gist.github.com/2293056 ) that pulled from http://caniuse.com/jsonp.php, but it always timed out.  I'm stuck there at the moment.

[2012-04-03 17:14] drublic commented on #12
@jonathantneal Did you have a look at what I did? I've implemented this with `get_file_contents` [here](https://github.com/h5bp/html5please-api/blob/caniuse-data/handler.methods.php#L61). This does not time out for me.

[2012-04-03 18:22] jonathantneal commented on #12
@drublic, I've fixed my pull from fyrd's github repo and updated this repo with his changes.  That resolves a lot of the problems we were having.  However, that still doesn't address the direction we want to take on this ticket.

Who updates the live site?

[2012-04-03 18:24] nimbupani commented on #12
The live site is updated from the master every 10 mins.

[2012-04-04 20:44] drublic commented on #12
@skddc The data for getUserMedia can now be found [here](http://api.html5please.com/stream.json?callback=h5please&texticon).

@jonathantneal Thanks for fixing this. Which direction do you mean? As I pointed out my fixes pull the jsonp.php-file from caniuse.com and save the new version if it's older than a day. For me this is fixes the issue.
Maybe I just don't get the point…

[2012-04-04 22:40] drublic commented on #59
I've wrapped my head around it and [added another branch](https://github.com/drublic/html5please-api/tree/locale-tmpl) to my fork.
I have implemented a template which uses Mustache-like variables. You get the local-oriented version with an extra parameter called `notemplate` when requesting the JSON. On the page I've added a new option for this.

Take a look at it if you want to. I'll merge this a

[2012-04-04 23:02] drublic commented on #60
@Integralist Is this still an issue? Otherwise we could close this.

[2012-04-05 09:36] raucao commented on #12
@drublic What does that mean? It's still not live on the main API endpoint, right?

[2012-04-05 09:43] raucao commented on #12
The question is still unanswered if it's enough to just complete the ticket by its original name, or if we can/should find a better solution that doesn't rely on a single person to update the data. I'd gladly help keeping it up-to-date, and during our work on @5apps we have to deal with this every day anyway. Would be great if @Fyrd could share his view on the matter.

[2012-04-05 17:44] Integralist commented on #60
@drublic I can confirm this is working now. Can some one clarify what the issue was? As it looks like the details of the API didn't change at all?

The below code is the new code generated from the http://api.html5please.com/ website but it's practically the same as I was using before, the only thing I can tell is different is that when using the code generator from the site it no longer gives me

[2012-04-05 19:45] drublic commented on #60
Thank you for confirming.

As I [explained before](https://github.com/h5bp/html5please-api/issues/60#issuecomment-4768322) the problem was in the URL which was used in mothereffinganimatedgifs.

Please re-check if you can select `canvas`. Works for me as you can see on this screenshot:
![select canvas](http://files.droplr.com/files_production/acc_22852/h4i5?AWSAccessKeyId=AKIAJSVQN3Z4K7MT5U2A&Expi

[2012-04-05 19:45] #60 closed, assigned to nobody

[2012-04-05 20:01] drublic commented on #12
@skddc No, it's not live yet or merged into the master. I want to await the "go" from @jonathantneal, because he has another solution / current state.

It feels like @Fyrd is updating the jsonp-file regularly. So requesting this file seems the best solution to me. That's why I implemented it.

[2012-04-06 00:51] paulirish commented on #12
Yes the jsonp file gets updated as the site does. It's the best source for the data.

+1 on site pulling from here every 10minutes.

+1 on waiting for the Go from jon neal.

Hans, let me know if you need access to logs once this is in, or anything.

[2012-04-06 04:54] Fyrd commented on #12
Yeah, what Paul said. The jsonp file is updated as part of updating any data-related part of the site.

[2012-04-06 11:48] Keyamoon opened #61 "Problem with the generated widget"
The generated widget code uses plus signs for separating features instead of spaces. Example:

<code>features: "localstorage+filereader+draganddrop+svg"</code>

Modernizr.html5please cannot split this using spaces:

<code>opts.features.split(' ');</code> (line 23 of <a href="https://github.com/h5bp/html5please-api/blob/master/modernizr.html5please.js">modernizr.html5please.js</a>)

Also, on line 4

[2012-04-06 14:59] jonathantneal commented on #12
I am in favor of pulling from WHEREVER the jsonp is first updated. :) From the website is fine, and if it changes later, that's fine too.  It's plain sense to me.

[2012-04-07 10:11] Rowno commented on #61
I'm having the same issues. After fixing those 2 bugs in the widget Javascript, the API doesn't even return a `html` property.

[2012-04-07 10:42] Keyamoon commented on #61
@Rowno I guess we are the first two users of this API!? How come nobody else tested it before?

[2012-04-07 11:15] drublic commented on #61
This seems to be split up in #62 and #63. I'll close this for now. Thanks for reporting.

[2012-04-07 23:38] #61 closed, assigned to nobody

[2012-04-08 00:18] drublic commented on #59
I've pushed my work into the master. The option is not yet visible on the page, as I want to wait for some feedback on this.
Here is a [short documentation](https://github.com/h5bp/html5please-api/wiki/Templating-API) on the templating variables. More to come…

Looks ok?

[2012-04-08 01:41] Rowno commented on #51
The `async` attribute is present on the generated widget again.

[2012-04-08 02:58] Rowno opened #64 "Soft hyphen causing a blank line before the widget"
I don't know if this is intentional, but there's a `&shy;` at the start of the API html output. This is causing an unnecessary blank line to appear before the widget in my page layout.

[2012-04-08 14:45] paulirish commented on #64
that's http://www.thecssninja.com/javascript/noscope in action.. for the $shy;

but

there is no reason it should  add a new line. :/

[2012-04-09 00:56] Rowno commented on #64
You can see it happening on this page in IE <=9. http://rowno.github.com/architect/

If you remove the soft hyphen using the developer tools, you'll notice that the extra line disappears.

[2012-04-09 10:46] Rowno commented on #64
Would it be possible to just move the `<style>` tag to after all the other html? According to [this thread on MSDN](http://social.msdn.microsoft.com/forums/en-US/iewebdevelopment/thread/33fd33f7-e857-4f6f-978e-fd486eba7174/) it solves the problem as well.

[2012-04-09 18:15] paulirish commented on #64
cc @ryanseddon you heard of this?

[2012-04-10 00:03] ryanseddon commented on #64
Well a soft hyphen in theory will do a line break where needed but will remain invisible otherwise, it just happens that IE treats the following div as a continuation of the text and then says well there's not enough room for both so I'll break here.

However this can easily be fixed by setting the .caniuse div to be `display: inline-block` and setting `width: 100%`. Or we can fix this right in th

[2012-04-10 03:42] paulirish commented on #64
Cool. I'll do the latter.

Thanks Ryan

[2012-04-10 22:30] #64 closed, assigned to nobody

[2012-04-10 22:31] drublic commented on #64
I've changed the order of HTML and CSS in the API's output. The `&shy;` is no longer part of it.

I've tested this in IE7, 8 and 9. Works for me with the tests in `tests/test.html`. Could you please try and test this again? Thanks.

[2012-04-10 22:40] drublic commented on #12
I've [changed the time](https://github.com/h5bp/html5please-api/commit/efc9f9c1f1d65caa57b2ec5a73c62b1305e6134b) for which the file is cached on our server to 10 minutes as Divya's cron is doing and Paul +1ed.

As I think we are not really finding a solution for this at the moment, I will just keep the stuff I did in the caniuse-data branch. Maybe it comes in handy when discuss this again in the f

[2012-04-10 22:44] drublic commented on #53
The `&shy;` was removed with ce1a548. The output is now in reversed order: HTML first, then CSS. I think this is what you suggested, right?

Thanks for reporting this, and sorry for all the time waiting for an answer!

[2012-04-11 01:59] paulirish commented on #64
Thank you Hans!

[2012-04-11 03:48] Rowno commented on #64
It's working fine for me as well. :)

[2012-04-11 06:32] zcorpan commented on #53
No. Reverse order is still invalid HTML. Try http://html5.validator.nu/

It should be:

[code]

I don't have permission to reopen, it seems.

[2012-04-11 16:39] drublic commented on #53
Including the `style`-element before the rest of HTML caused other problems as explained in #64.
Using `scoped` seems like a good solution as the styles would not affect other elements outside the H5P-API-message. But as far as I know it's not supported in any browser yet…

[2012-04-12 06:52] zcorpan commented on #53
AFAICT #64 talks about problems &shy; caused. I don't understand why the placement of style would affect rendering. That scoped is not supported in browsers yet shouldn't be much of a problem. The spec only allows style in body if it has a scoped attribute (and only in certain places).

[2012-04-13 20:16] duxtinto commented on #59
It looks quite good to me...

one small thing... I don´t know if I missed something (quite probably :)) but the name of the option 'noTemplate' sounds a little bit confusing to me... before checking the documentation, my first guess was 'noTemplate' => not using the template, so getting the english version.

Regards.

[2012-04-15 11:45] drublic commented on #59
Yeah, had the same problems after developing it. I've changed it now to "template" which seems more appropriate.
Furthermore the option for it is now visible on the page (at least in the master-branch – will be online soon I guess).

[2012-04-15 11:45] #59 closed, assigned to nobody

[2012-05-08 19:27] akavlie opened #65 "Widget generator doesn't match Modernizr feature detection"
A lot of the features that the widget generator (at api.html5please.com) suggests are not recognized by Modernizr. Examples:
- css-sel2
- css3-boxsizing
- mathml
- datalist

[2012-05-08 21:39] paulirish commented on #65
modernizr has tests for boxsizing, mathml and datalist

they are all in here https://github.com/Modernizr/Modernizr/tree/master/feature-detects

selectors2 on the other hand, nope.

[2012-05-08 21:40] nimbupani commented on #65
likely just need the right mapping in our json file.

[2012-05-08 21:46] paulirish commented on #65
yah

[2012-05-08 23:35] akavlie opened #66 "Option for desktop browsers only"
The API lists iOS Safari among the suggested browsers. This doesn't look right to me, if the goal is to give the user links to browsers they can upgrade to.

There should be an option to limit results to desktop browsers only.

[2012-05-13 23:13] drublic commented on #66
This is totally right. The API is supposed to list only browsers that are supported on a specific OS. For instance we don't want to suggest IE if you're on a Mac.

It would be great if you could provide a short test-case for this issue.
Thank you!

[2012-05-13 23:21] akavlie commented on #66
I could take a stab at that... assuming you've done dev work on this, could you point me in the right direction? Is there already code for selecting browser links based on OS?

I'm not sure there's any situation where iOS Safari would be relevant -- it can't be installed on its own. Info about minimum OS version would make more sense on mobile.

[2012-05-14 23:27] drublic commented on #66
The OS should be detected automatically by the API. You don't need set a param for this.
I've [created a test-case](http://jsfiddle.net/drublic/CazFu/) which reproduces this issue. On Chrome only Opera Mobile is offered as an alternative the "stream".

I'll try to figure out what the problem is in the next days.

[2012-06-09 17:56] addyosmani commented on #66
@drublic do you think you might have the bandwidth to chase this up?

[2012-06-10 11:17] drublic commented on #66
@addyosmani, thanks for the reminder. And sorry, for the missing update.

This problem is now fixed with the last commit I. When implementing the "partial"-support I forgot to filter the results by the type of the OS. I've now implemented it (was just 1 LoC).
Please let me know if there are further problems with detecting the type.

[2012-06-10 11:17] #66 closed, assigned to nobody

[2012-06-10 11:29] addyosmani commented on #66
@drublic Perfect. Thank you for working on this so quickly!

[2012-06-10 11:55] drublic commented on #53
So, after some time I've changed this: In [branch `scoped`](https://github.com/h5bp/html5please-api/tree/scoped) I've pushed two commits where I moved the styles into the `.caniuse`-block and scoped it.

@zcorpan Can you please review my commits 5d5b38c7 and f3485700? The output is valid now according to html5.validator.ru. Can you confirm this?

[2012-06-11 07:50] zcorpan commented on #53
I'm not sure I follow what the code does exactly by just looking at those commits, but if the output validates then it should be OK.

[2012-06-11 08:14] drublic commented on #53
f3485700 inserts a variable for styles in the output templates that is replaced in 5d5b38c7.
Thank you for your feedback :)

I'll close this issue now. If you come across problems, please feel free to re-open it.

[2012-06-11 08:14] #53 closed, assigned to nobody

[2012-06-13 16:20] drublic commented on #19
The icon is here on GitHub and [referenced](http://h5bp.github.com/html5please-api/i/icons-32.png) via this repo, right? So this isn't an issue anymore, right?
Would like to close it then.

[2012-07-11 07:09] tagawa opened #67 "cssanimations.json data seems incomplete"
Hi. Looking at the data provided in http://api.html5please.com/cssanimations.json it seems Opera is not mentioned as a browser that supports CSS3 animations. It's supported in Opera 12 (current version) - is this something that should be updated? Thanks.

[2012-07-11 08:59] drublic commented on #67
Sure thing. Thanks for reporting this issue.
I checked this. With your PR #68 this is fixed. Thanks a bunch!
Please let us know if you detect further problems.

[2012-07-11 08:59] #67 closed, assigned to nobody

[2012-07-12 00:48] tagawa commented on #67
Thank you - looks good. I'll try to keep an eye out for other issues.

[2012-12-15 15:46] addyosmani commented on #47
Does anyone still have an interest in adding this?

[2013-07-02 14:42] ghost opened #79 "HTTPS Mixed Content"
The current beta version of Firefox [23] blocks mixed content when accessing a site through HTTPS. Requests made from a secure website to the API are considered to be mixed active content and are blocked by default. Any chance HTTPS will be available in the future?

[2013-10-01 11:25] Qqwy opened #85 "Option to show needed features in widget"
I really like this API. I was looking if something like this existed, and I am very glad it does.
However, I would like to show the user a small list of the features that the site they visit needs and their browser doesn't support, since I think it is good to keep visitors informed of the reasoning behind needing to switch browser to use the site.

What I propose is something like:

"This page use

[2014-06-15 17:33] alrra opened #98 "Add Daniel Davis (@tagawa) in the `contribute` section"
@tagawa please add yourself to the `WITH` list, you more than deserve it!

![](https://cloud.githubusercontent.com/assets/1223565/3281524/be8fef12-f4b2-11e3-81d7-a302daa6c0a0.png)
##

@tagawa thank you for all the great work you do maintaining this project, we really appreciate it! :+1:

[2014-06-15 17:43] jonathantneal commented on #98
Seconded.

[2014-06-16 04:41] #98 closed, assigned to nobody

[2014-06-16 04:45] tagawa commented on #98
That's very kind @alrra - I really appreciate knowing that people are using this.
Fixed ( https://github.com/h5bp/html5please-api/pull/99 ) and thanks @jonathantneal for merging.

[2014-09-20 09:08] JAL9302 commented on #8
Trying to use this project but cannot due to lack of HTTPS support.

[2014-09-20 09:28] JAL9302 commented on #79
I am having same issue accessing the API over HTTPS. The project looks awesome and we're very excited to use it, but lack of HTTPS support on this API is a blocker.

[2014-12-05 17:51] arthurvr opened #107 "Deprecate project?"
Given that the project is down for longer than a month, in private @paulirish and I had a discussion about the future of the project.

We checked the logs, and seems like we don't have that much users...

We both think it's probably time to deprecate this project. Thoughts?

At the end the project was down for more than a month and nobody reported that, which already means the project is kinda dea

[2014-12-05 17:56] paulirish commented on #107
@tagawa what do you think?

FWIW: Logs from October: http://temp.paulirish.com/html/monthly/2014-10/index.html#ref (ignore the pw prompts)

[2014-12-05 18:05] arthurvr commented on #107
Sorry for not pinging you in man!

[2014-12-05 18:15] JAL9302 commented on #107
As a user of this project, I'd like to weigh in here.

We use this project on https://thalamusgme.com to determine if our users have the proper browsers to use all our site's features. It has proven very useful, and helpful to us, when it works. We definitley noticed it has been down the past month, but it is not mission critical to our site, does not present as an error to the user when its down,

[2014-12-06 01:57] tagawa commented on #107
@arthurvr No problem!

@jodoglevy Thanks for the taking the time to comment - it's gratifying to know the project's been of use.

Regarding deprecation I don't have strong feelings either way. Are there any disadvantages to keeping it going other than keeping it up-to-date? I don't do much on it other than occasionally updating the browser versions and I'm happy to continue doing that.

[2014-12-07 01:21] JAL9302 opened #108 "In html5please api response, html property contains invalid icon link"
For example it will say "http://h5bp.github.com/html5please-api/i/icons-32.png" which does not resolve, where as "http://api.html5please.com/i/icons-32.png" seems to be the correct location.

This ends up looking like this:
![image](https://cloud.githubusercontent.com/assets/234589/5329622/36ddde24-7d6c-11e4-94b9-ed820e2b4b57.png)

[2014-12-07 01:35] JAL9302 opened #109 "OSX Safari is identified as a mobile browser"
At least OSX Safari 5, possibly other Safari versions, are identified by the html5please api as a mobile browser. In addition to html5please's api response coming back with agent.type as "mobile", the generated html to show if the browser is missing a feature also only recommends mobile browsers, since it thinks this browser is a mobile browser:

![image](https://cloud.githubusercontent.com/assets

[2015-04-06 17:46] zackify opened #110 "Add Promises to the api"
I don't see promises as a feature to check for. Any plans to add it?